* {
    margin: 0;
}

#navbar {
    height: 3vh;
}

#hamburger:hover li{
    display: inline;
}

#navbar li {
    display: none;
}

#hamburger {
    display: inline;
}

#navbar li a {
    text-decoration: none;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

#cover {
    position: relative;
    height: 70vh;
    padding: 10% 10%;
    background-color: #0B1722;
    color: #E8F1F2;   
}

#cover h1 {
    text-align: center;
    font-family: 'Chivo';
    font-size: 10vw;
    font-weight: bolder;
    line-height: 0.8;
}

#cover h3 {
    text-align: center;
    font-family: 'Chivo';
    font-size: 4vw;
    line-height: 0.9;
}

#cover img {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10%;
    height: 10vh;
}

#hypothesis {
    height: 28vh;
    padding: 5% 17%;
    text-align: center;
}

#hypothesis h3 {
    font-family: 'Chivo';
    font-size: 3.5vw;
    color: #0B1722;
}

#hypothesis p {
    font-family: 'Overpass';
    font-size: 1.25vw;
}

#hypothesis a {
    text-decoration: none;
    color: #0B1722;
}

#introduction {
    position: relative;
    height: 50vh;
    padding: 10% 20%;
    background-color: #E8F1F2;
}

#introduction h1 {
    font-family: 'Chivo';
    font-size: 8.5vw;
    color: #0B1722;
    text-align: center;
}

#introduction p {
    font-size: 2vh;
    padding-left: 53%;
    font-family: 'Overpass';
    line-height: 1.3;
    color: #121212;
}

#introduction img {
    float: left;
    display: inline;
    width: 50%;
}

#causes {
    padding: 10% 20%;
    height: 60vh;
}

#causes h1 {
    font-family: 'Chivo';
    text-align: center;
    font-size: 10vh;
    color: #0B1722;
}

#volcano {
    position: relative;
    width: 25vw;
    float: left;
    font-family: 'Overpass';
}

#volcano img {
    position: relative;
    height: 53vh;
}

#volcano .text {
    display: none;
    background-color: #E8F1F2;
    position: absolute;
    top: 2%;
    z-index; 50;
}

#volcano:hover .text {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#volcano h3 {
    text-align: center;
    font-weight: bolder;
    padding-top: 2%;
    font-size: 2.5vh;
}

#volcano p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 1.5vh;
}

#silicate {
    position: relative;
    width: 25vw;
    float: right;
    font-family: 'Overpass';
}

#silicate img {
    position: relative;
    height: 53vh;
}

#silicate:hover .text {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#silicate .text {
    position: absolute;
    display: none;
    background-color: #E8F1F2;
    top: 2%;
}

#silicate h3 {
    text-align: center;
    font-weight: bolder;
    padding-top: 2%;
    font-size: 2.5vh;
}

#silicate p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 1.5vh;
}

#albedo {
    position: relative;
    height: 70vh;
}

#albedo h2 {
    font-size: 8vh;
    text-align: center;
    font-family: 'Chivo';
    z-index: -99;
    width: 100%;
}

#albedo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    z-index: -99;
}

#albedo p {
    
    padding: 1% 30%;
    font-size: 1.5vh;
    font-family: 'Overpass';
}

#evidence {
    height: 175vh;
    background-color: #E8F1F2;
    padding: 5% 20%;
}

#evidence h1 {
    font-family: 'Chivo';
    font-size: 8.5vw;
    color: #0B1722;
    text-align: center;
    line-height: 1.5;
}

#evidence h2 {
    font-family: 'Chivo';
    font-size: 6vw;
    color: #0B1722;
    line-height: 2;
}

#evidence p {
    font-family: 'Overpass';
    font-size: 2vh;
}

#ethiopia {
    position: relative;
    height: 30%;
}

#ethiopia p {
    width: 45%;
    display: inline-block;
}

#ethiopia img {
    display: inline;
    float: right;
    width: 50%;
}

#kalahari {
    position: relative;
    height: 30%
}

#kalahari h2 {
    float: right;
}

#kalahari p {
    width: 45%;
    display: inline-block;
    float: right;
}

#kalahari img {
    display: inline;
    float left;
    width: 50%;
}

#looking h2 {
    text-align: center;
}

#climate {
    height: 50vh;
    background-color: #3D4F60;
    padding: 5% 20%;
}

#climate h1 {
    display: inline-block;
    font-family: 'Chivo';
    width: 50%;
    font-size: 6vw;
}

#climate p {
    display: inline-block;
    font-family: 'Overpass';
    width: 50%;
    font-size: 1.5vw;
    float: right;
    text-align: center;
}

#slushball {
    height: 50vh;
    padding: 5% 20%;
}

#slushball h1 {
    font-family: 'Chivo';
    font-size: 7.5vw;
    text-align: center;
}

#slushball p {
    font-family: 'Overpass';
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
}

footer {
    height: 4vh;
    background-color: azure;
}

footer p {
    font-size: 1vw;
    text-align: center;
    font-family: 'Overpass';
}

