.horizontal-scrolling-wrapper {
	background-color: pink;
	width: 900px;
	height: 2880px;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) translateY(-2880px);
	transform-origin: right top;
}

.horizontal-scrolling-wrapper > div {
	width: 100px;
	height: 100px;
	transform: rotate(90deg);
}